
*.opensdf
*.sdf
Debug/*
_dependencies/curl/Debug/*
_dependencies/curl/lib/_UpgradeReport_Files/*
_dependencies/curl/lib/Debug/*
*.suo
_dependencies/zlib/Debug/*
ipch/*
*.vcxproj.user
_dependencies/curl/Release/*
_dependencies/zlib/Release/*
Release/*
*.o
*.a
exploits/limera1n/payload.bin
exploits/steaks4uce/payload.bin
injectpois0n

