
*.opensdf
*.sdf
Debug/*
_dependencies/curl/Debug/*
_dependencies/curl/lib/_UpgradeReport_Files/*
_dependencies/curl/lib/Debug/*
*.suo
_dependencies/zlib/Debug/*
ipch/*
*.vcxproj.user
_dependencies/curl/Release/*
_dependencies/zlib/Release/*
Release/*
build/*
*.pbxuser
*.mode1v3
*.o
*.a
exploits/limera1n/payload.bin
exploits/steaks4uce/payload.bin
injectpois0n
tetheredboot
tools/bin2c
.DS_Store


tetheredboot-Debug/*
_dependencies/curl/tetheredboot-Debug/*
_dependencies/curl/tetheredboot-Release/*
_dependencies/zlib/tetheredboot-Debug/*
_dependencies/zlib/tetheredboot-Release/*
tetheredboot-Release/*
Dll-Debug
Dll-Release
tools/bin2c.exe